/.vs
/Debug
/Biblio_Convert_Program/Debug
/Biblio_Convert_Program/x64/Debug
/Setup
/Release
/Setup x32
/Setup x64
/x64
.ico
.sln

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app